/* デフォルトの文字設定 */
@charset "UTF-8"; 

html{
    /* 100％にすることで指定したフォントサイズで正しく反映される */
    font-size: 100%;

}
body{
    color: #383e45;
    font-size: 0.9rem;
}
a{
    /* サイトのリンクに下線が表示されないように設定 */
    text-decoration: none;
}
img{
    /* 画像が画面の横幅からはみ出るのを防ぐために横幅の最大値を設定する */
    max-width: 100%;
}

li{
    list-style: none;
}

/* h1タグ用の設定  */
/* .+クラス名 */
.site-title{
    width: 180px;
    line-height: 0px;
    /* h1タグの高さよりも小さい値を指定することで
    h1タグの上下の余白が消える。
    line-height:0;でもOK */
    padding: 10px 0;

}
.site-title a{
    /* aタグのリンク範囲を親要素のサイズに広げる */
    display: block;
}


/* h2タグの設定 */
.section-title{
    display: inline-block;
    /* display: block; */
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;/*なにこれ */
    border-bottom: solid 1px #383e45;/* solidってなにborder-bottomってなに */
}

/* h3タグ用 */
.content-title{
    font-size: 1rem;
    margin: 10px 0;
    /* marginと後ろの0何 */
}

/* 画面の最大幅を指定。共通で使用する */
.wrapper{
    max-width: 1280px; /* 最大横幅の変更 */
    margin: 0 auto 100px  auto;
    padding: 0 4%;
    text-align: center;
}

/* ヘッダー */
#header{
    /* 直下の要素が並列になる */
    display: flex;
    /* 各アイテムを均等に配置し、
    最初のアイテムは銭湯寄席
    最後のアイテムは末尾に寄せる */
    justify-content: space-between;
    /* 上下のどこで縦軸をそろえるかを決定する */
    align-items: center;
    /* 上下｜左右 */
    margin: 0 auto;

}
#header ul{
    /* 直下の要素が並列 */
    display: flex;
    /* 要素内部の追加領域上下｜左右 */
    /* mainvidualとのとの間にスペースできた */
    padding: 10px 0;
}
#header li{
    /* 要素の左側のマージン領域の設定 */
    /* AboutとBikeの間にスペースが出来た! */
    margin-left: 30px;
}
#header li a{
    /* リンクの色変更 */
    /* 選択後の青色の線が出てこなくなった */
    color: #24295e;
}
#header li a:hover{
    /* 要素の透明度 */
    opacity: 1;
}

/* Main Vidual */
#mainvidual{
    /* mainvidual~Aboutの幅を規定 */
    margin-bottom: 80px;
}
#mainvidual img{
    /* windowの幅いっぱいになった */
    width: 100%;
    /* 全画面表示の時も1920pxまでになった */
    max-width: 3840px;
    /*高さ一定  */
    height: 900px;

    /* 縦横比は維持しつつコンテナにフィット */
    object-fit: cover;
}

/* About */
#about .content{
    /* 直下の要素が並列 */
    display: flex;
    /* アイテムを中央寄せ */
    justify-content: center;
    /* アイテムを中央寄せ */ 
    align-content: center;
}
#about  img{
    /* コンテナのサイズを指定 */
    width: 100px;
    height: 100px;
    /* 四隅を丸くする */
    border-radius: 100%;
}
#about .text{
    /* 文章左揃え */
    text-align: left;
}

/* bike */
#bike ul{
    display: flex;
    justify-content: center;
    align-content: center;
}
#bike li{
    width: 400px;
}
#footer{
    font-size: 0.5rem;
    padding: 10px 0;
    text-align: center;
}

/* SP */
@media screen and (max-width:600px){

    /* mainvidual */
    #mainvidual img{
        /* 画面ぴったりに表示 calc(100vh - headerとfooterの高さを足した数px)*/
        height: calc(100vh - 60px);
    }

    /* About */
    #about .content{
        /* 、主軸の方向や向き (通常または逆方向) を定義 */
        /* 縦に降順 */
        flex-direction: column;
    }
    #about img{
        /* 要素の右側のマージン領域 */
        margin-right: 0;
    }

    /* bike */
    #bike ul{
        flex-direction: column;
    }
    #bike li{
        width: 100%;
        margin-bottom: 30px;    
    }
    
}